body{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    background-color: rgb(128, 221, 85);
    border:solid;
}

header{
    border:solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    padding: 5px;

}

img{
    border:solid;
    margin: 2px;
    padding: 2px;
    width: 150px;
 
}

h1{
    border:solid;
    margin:2px;
    padding:2px;

}

nav{
    border:solid;
}
a{
    border:solid;
    text-decoration: none;
    color: black;
}

iframe{
    border:solid;
    width: 400px;
    height: 200px;
}

#vdo-div{
    display: flex;
    border: solid blue;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 2px;

}

#form{
    border:solid;
    display:flex ;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px;
    margin: 2px;


}

label{
    border:solid;
    padding: 2px;
    margin: 2px;
}

input{
    border:solid;
    padding: 2px;
    margin: 2px;
}

footer{
    text-align: center;
}